<% provide(:title, "About") %>

<h1>About Everlasting Games</h1>
<p>We're a Game Dev group devoted to making games that feel good to play!</p>

<h2>For Players</h2>

<p>
  Expect the best from us!
  If there's anything wrong, or even anything that just feels <i>off</i>,
  please let us know. <br>
  We thrive from feedback!
</p>

<h2>For Developers</h2>
<p>
  We don't operate <i>quite</i> like the game studio you may be thinking of.
  We have a lot of emphasis on independence and developing individual projects.
  <br>
  For any projects developed with us, we provide a comprehensive backend, including
  matchmaking, logins, [(TODO)insert other working features here].
  <br>
  If you're interested in joining the team, please email us at [(TODO) insert team email here]!
</p>
