<% provide(:title, "") %>

<h1><%=  image_tag("everlasting_logo.png", alt: "Everlasting Games", id:"title") %></h1>

Home of Base Wars!
It is in Early Access currently.
Soon, it will have a matchmaking + ranking service!
<br>
We here at Everlasting Games are currently focused on making Base Wars the best game it can be.
It will be getting regular updates, as will this website.
<br>
We have a lot planned for this site in the future.
Check back soon and see what's new!