<% provide(:title, "Base Wars") %>

<h1><%=  image_tag("base_wars_logo.png", alt: "Base Wars", id:"title") %></h1>

<div class="horizontal-wrapper">
    <div class="horizontal-block">
        <iframe id="trailerVideo" frameborder="0" allowfullscreen src="https://cdn.akamai.steamstatic.com/steam/apps/256857046/movie480_vp9.webm?t=1634918823"></iframe>

        <hr>

        <%= render 'components/base_wars/patchNotesAbridged' %>

    </div>
    <div class="horizontal-block">

        <h1>Steam</h1>
        <h2>
            Get the game on Steam <a href='https://store.steampowered.com/app/1747110/Base_Wars/'>here!</a>
        </h2>
        <h1>Description</h1>
        <br>
        Base Wars is a bite-sized PvP Turn Based Strategy game originally inspired by RTS games.
        <br>
        Expand your economy, build an army, and crush your opponents in this simple yet expansive Strategy environment!
        <br>
        <br>
        It currently has a Campaign mode, vs AI, local Multiplayer, and online matchmaking.
        <br>
        The Campaign and Ranked Matchmaking features are still under development; Expect many updates to come!


        <hr>


        <p>
            Like the game? Wanna talk to someone about it?
            <br>
            Join our <%= link_to "Discord!", "https://discord.gg/WuY6ZJR" %>
        </p>
    </div>
</div>