<hr>
<footer class="footer">
  Who are we? Learn <%= link_to "about Everlasting Games.", about_path %>
  <br>
  Interested? <%= link_to "Contact Us!", contact_path %>
  <br>
  <br>
  <small>
  <p>&copy; 2020 Everlasting Games</p>
  A Rails Website.
  </small>
</footer>