<h1>Patch Notes</h1>
<h2>2.0- The Phoenix Release</h2>
It's a brand new game, everybody.

<h3>Features</h3>
<h4>Basen Pack</h4>
  New texture pack! This is a brand new default look for the game.
<h4>Unified Menu System</h4>
  I redid the entire main menu. Now it's all on 1 big screen!
<h4>Campaign</h4>
  The tutorials at the start of the Campaign are much better now!
  Still no Campaign mode. Sorry :(
<h4>Multiplayer Improvements</h4>
  You can now safely disconnect from a direct game. Reconnecting should put you right where you left off.
  You can also go back to menu and change (most) settings!

<h3>Balance Changes</h3>
Surprisingly, there were no major mechanical changes (for once)!
<p>
  Barracks Troops were too hard to kill, so they lost some HP. (Swordsman 80 -> 70, Bowman 60 -> 50, Horseman 70 -> 60)
  <br>
  Bowman did too much damage for an early ranged unit. (2x20 -> 2x15)
  <br>
  Horseman, Pegasus Rider, and Scout got movement buffs! Now they can zoom across the map. (2x5.5 -> 2x6)
  <br>
  Scout's stats were... way too good. (HP 40 -> 30, Dmg 20 -> 15, Attack hitbox decreased to same size as Builder)
  <br>
  Outpost found a good niche in early combat, but 40 gold feels too committal for that phase of the game. (Cost 40 -> 30)
  <br>
  Ah, finally, a role for Cannon: midrange zone control. (Build Time 2 Turns -> 1 Turn, Range 8 -> 7, Damage 60 -> 50, HP 60 -> 70)
</p>
That's... about it for now, actually!
The meta is in a good place, and just needs player development before any more changes become necessary.

<br><br>

<h3>1.5.2- The Alliance Patch</h3>
<p>
  With increased focus on 2v2 format, we added the ability to shift-click the map to ping allies!
  Also, some minor balance changes:
  <br>
  Equip Unit now costs 50 Gold instead of 40
  <br>
  Warlock ranges have been reworked: Frost Spell blindspot removed. Frost Spell max range 8 -> 6. Spirit Bite max range 4 -> 3.
  <br>
  Outpost HP 40 -> 50. Attack range 7 -> 8, heal range 5 -> 6.
  <br>

</p>
<h2>1.5- The Equipment Update</h2>
<h3>Equip Units</h3>
<p>
  Replacing the Armory Unit Researches, the Equip Unit ability provides a new way to recycle old Barracks troops.
  Simply move one to an Armory, spend 40 Gold and 1 Turn, and suddenly you have a brand new Unit!
  <br>
  This ability requires Tier 2 to be unlocked.
  <br>
  Armory troops have been slightly balanced for this new role; futher testing and rebalancing is sure to come.
</p>

<h3>Balance</h3>
<p>
  Early Game combat is fast paced. This is slowed down by Barracks troops' build time of 2 Turns.
  They are now constructed in 1 Turn each!
  <br>
  Carrier never found a role in Tier 2, so now it is available in Tier 1!
  Research it at the Armory to unlock it permanently at the Barracks.
  <br>
  Reinforcing production structures no longer decreases Build/Research time.
  <br>
  Bowman is <i>incredibly</i> strong in a group, so we nerfed its max attack range (9 -> 7.5), sight (7.5 -> 6.5), and move (6.5 -> 6).
  <br>
  Horseman HP/Defense was changed from 75/2 to 70/5 to make some interactions clearer, and to buff the Defense upgrade (which makes it 70/10!)
  <br>
  Scout also recieved slight nerfs, with HP of 40 -> 30 and its attack range being moved in line with Builder.
  <br>
  Knifesmen were useless without Stealth, so the Research for it has been removed. They now start out with Stealth.
  <br>
  Tower's attack has been removed to give it a better role as a vision structure.
</p>

<h3>Misc</h3>
<p>
  The Turn counting scheme has been reworked. Old patch notes will read wrong; Next Turn = 1 Turn now = 2 Turns before.
  <br>
  As always, a lot of changes behind the scenes. Handbook improvements, Action improvements, and more.
</p>

<h2>1.4- The Snappy Update</h2>
Half of the units are gone now!
<br>
All of the units that didn't fill an important role (or one nobody used) are removed.
Now, design and balance can focus on the units that <i>actually matter</i>.
<br>
Along with this, most of these changes make midgame more dynamic.

<h3>Balance</h3>
Early Game units were too mobile, so there's been a universal -1 to Sight and -0.5 to Move ranges.
<br>
This applies to Builder, Scout, Swordsman, Bowman, and Horseman.
<br>
Magic attacks no longer hit buildings. They do, however, hit units in a Bunker.
<br>
Barracks now cost 80 Minerals, and Tier 2 structures cost 100.
<br>
The midgame Stealth mechanic was awkward, so it's been reworked into a more defined state.
<h4>Stealth</h4>
<p>
  Stealthed units include Knifesmen, Ninjas, and anything stealthed by the Laboratory.
  <br>
  A Stealthed unit is invisible, but still affects units' move patterns.
  <br>
  It is also immune to Ranged and Air attacks, only being hit by Melee and Magic.
  <br>
  To subvert this weakness, Stealth units can be detected by a Tower (passive) or a Shooting Range (ability).
  Detected Stealth units have their location shown, and may be hit by any attack type.
</p>

<br>
There's also been quite a few Structure changes and additions...
<h4>Outpost</h4>
<p>
  Due to the Cannon reworks, there was a missing role in an early game support structure.
  The Outpost serves this role, giving a 40 Mineral/2 Turn (40HP 15 Attack 25 Healing) structure off the bat.
  <br>
  This should hopefully provide a nice support to Builder Scout skirmishes.
</p>
<h4>Nexus</h4>
<p>
  Tier 2 was too accessible and invalidated Barracks Units, so we've added a slight commitment to reaching them.
  <br>
  Now, the Nexus can research upgrades for Tier 2 and Tier 3 units!
  These upgrades cost 75 Minerals/3 Turns and 150 Minerals/4 Turns, respectively.
  <br>
  The latter will likely be reduced to 125 Minerals in the future.
  This high cost is to keep focus on the part of the game that matters most right now- Midgame.
</p>

<h4>Adventurer's Guild</h4>
<p>
  Goodbye Guild Leader and Cultist! Their roles simply had too much overlap with existing Tier 2 units.
  Knife Factories are also gone, since they simply added nothing to the Guild.
  <br>
  Now, Guild only creates Knifesmen and Carriers.
  This gives it a Crowd Control and support role, generally beating Tank.
</p>
<h4>Laboratory</h4>
<p>
  Goodbye Necromancer and Skeleton! They were just bad.
  <br>
  Laboratory focuses on Warlock and Pegasus Rider.
  This provides a focus on single strong units and splash attacks, generally beating Swarm units.
  <br>
  It also has an ability to Stealth any unit for 25 Minerals.
</p>
<h4>Shooting Range</h4>
<p>
  Goodbye Grenadier! Who really knows what it was used for?
  <br>
  Shooting Range creates Tanks and Rocketmen.
  These units are specialized in high point damage, beating singular high-cost units.
  <br>
  It also has the Radar Scan ability, providing vision (and Detecting units) in an area for only 10 Minerals.
</p>

<h4>Armory</h4>
<p>
  Not too many changes here, relatively.
  Unit HP and defense researches are now located at the Academy.
  <br>
  The Armory Units research now requires the Tier 2 Upgrade.
</p>
<h4>Academy</h4>
<p>
  The old move/sight/build researches are gone! All Unit ranges are static now.
  <br>
  Instead, the Academy is a defensively specialized building (compared to the offensively specialized Armory).
  <br>
  It can research Unit HP and Defense, and unlock Cannon through research.
  <br>
  After the Tier 2 Upgrade, it can also research Tower, Bunker, and Mortar as the new means of unlocking them.
</p>

<h4>Tower, Bunker, Moratr</h4>
<p>
  Tower and Cannon were too similar, so now Tower only has 1 (40 Damage) air attack.
  <br>
  Now, Tower has a passive detecting any Stealth units! This range will be shown to the other player as well.
  <br>
  The overall costs were lowered to the 60-70 Mineral range.
</p>

<br>
<br>
<h2>1.3- The Vortex Update</h2>
Lots of changes in this one! Optimizations behind the scenes, a new building, and many balance changes....
<h3>Balance</h3>
<h4>Laboratory</h4>
<p>
The Laboratory has definitely been the worst Tier 2 building so far.
All of the Lab troops are getting reworks and minor buffs to hopefully help this.
<br>
To start out, the Laboratory is getting the Invisibility Spell ability from the Warlock, which now costs 20 Minerals to cast.
<br>
The Warlock build time is now down 4 -> 3 turns, and costs 100 -> 90 Minerals.
It lost the Invisibility Spell ability, so this should be fair.
<br>
The Necromancer's also getting some buffs, with a cost down 70 -> 60 Minerals and an attack range 5 -> 6.
The Aura upgrade never saw any use, so it's being removed and we're giving Necromancer Aura a range buff, 6 -> 9.
Also, Skeleton attack damage is 20 -> 25.
<br>
Finally, introducing the <b>Vortex</b>! Built in 2 Turns/40 Minerals from the Pegasus Rider (which now 30 -> 40 Minerals),
the Vortex can store troops in an alternate dimension, allowing any other Vortex to summon them. Try it out!
<br>
</p>

<h4>Guild</h4>
<p>
The Guild's at a very strong place right now, so these are just tweaks to round out the units.
<br>
The Tower is a strong defensive building, so the build time is going from 2 to 3 Turns.
Its vision is now reworked, with a base sight range 12 -> 6.
In exchange, it now has a range 14 passive that shows the hitbox of any hidden (stealthed or out of vision) units.
<br>
The Cultist hasn't seen much love, so its cost is 60 -> 50 Minerals.
Also, its Melee attack has been upgraded into a Magic attack!
This is balanced out with a damage nerf. Poison damage has gone from 40, -5 (40 damage first turn, 35 next, 30 next, etc) to 40, -10 (40, 30, 20, 10).
<br>
Carrier's a versatile and threatening support unit. Its build time is now 2 -> 3 Turns.

<h4>Shooting Range</h4>
Shooting Range is also quite meta, and will only get better with Lab buffs.
Here are some changes to decrease the power of the more degenerate strategies.
<br>
Rocketman landmines no longer explode if killed during construction. This reduces Rocketmans's camping abilities.
<br>
Increased the reinforcement increment on Mortar. It was too easy to set up and shut down entire portions of maps.
<br>

<h4>Other</h4>
<b>Important:</b>
<p>
The Tier 2 -> Tier 3 progression has been reworked!
Before, Guild unlocked Fleet Beacon, Lab unlocked Dojo, and Range unlocked Wizard Tower.
Now, Guild unlocks Dojo, Lab unlocks Wizard tower, and Range unlocks Fleet Beacon.
This lines up the Tier 3's with the Tier 2's, making attack upgrades even more beneficial.
<br>
Builder Build Range tech -> Build Range tech (now applies to all Unit build ranges)
<br>
Dimensional Rift cost 300 -> 200 Minerals. 300 was insane, and nobody really got to it anyways.
</p>

<h3>Map Pool</h3>
J-Rex has been putting in some extra time on the maps! Runner and Zip have recieved significant revisions.


<br>
<br>
<h2>1.2- Armory Units Update</h2>
<h3>Balance</h3>
The Armory units have been reworked to be more win-conditionish!
Each also has a unique attribute.

<h4>Axeman</h4>
<p>
  Each unit the Axeman kills restores it 10 HP.
</p>
<h4>Gunman</h4>
<p>
  After attacking, the Gunman must reload for 1 full turn.
<br>
  Accordingly, the Gunman's range and damage recieved major boosts!
</p>
<h4>Lanceman</h4>
<p>
  The Lanceman recieved a new ability: Decisive Stance!
<br>
  Decisive Stance gives the Lanceman a defensive buff for the turn, halving all incoming damage.
<br>
  Using Decisive Stance disables Decisive Strike (Lanceman Attack) for the turn, and vice versa.
</p>


<br>
<br>
<h2>1.1- Tier 3 Update</h2>
<h3>Balance</h3>
A lot of the Tier 3 (endgame) units were simply too expensive to reasonably use.
Their prices and overall stats have been adjusted to give them a better role in the meta.
<h3>Bugfixes</h3>
This patch irons out many of the bugs present in 1.0.0.
Additionally, it (re)introduces texture pack support, including 4 existing packs!

<br>
<br>
<h2>1.0- Website Launch</h2>
<h3>Launcher</h3>
Before this update, everyone had to redownload the game every time it updated.
Now, you download a launcher, which should automatically download any updates!
<h3>Audio</h3>
Base Wars now has a complete soundtrack!!
A huge shoutout to Jerry Bear Music for incredible composition on this.
(Also, there's a lot more Sound Effects.)
<h3>Visuals</h3>
A lot of the visuals were clean, but plain.
I added some grit to a lot of the backgrounds to give it a more 3D feel.
Also, the game itself is 3D now!
<h3>Balance</h3>
We discovered the Armory Units were absolutely busted.
I reduced their health universally; you should be able to kill them eventually.